pre_snapshot/fast_snapshot.mem_meta
pre_snapshot/global.state
pre_snapshot/fs_drv_qemu.qcow2.pcow
pre_snapshot/ready.lock
pre_snapshot/fast_snapshot.mem_dump
pre_snapshot/fs_drv_qemu.qcow2.khash
pre_snapshot/INFO.txt
pre_snapshot/fast_snapshot.qemu_state
pre_snapshot/fs_cache.meta
