agent/bin/hypertrash_crash_detector
agent/bin/hypertrash_crash_detector_asan
agent/bin/loader
agent/bin/req_data
agent/bin/set_ip_range
agent/bin/set_kvm_ip_range


sharedir/hypertrash_crash_detector
sharedir/hypertrash_crash_detector_asan
sharedir/req_data
sharedir/run.sh
sharedir/set_ip_range
sharedir/set_kvm_ip_range
sharedir_asan/hypertrash_crash_detector
sharedir_asan/hypertrash_crash_detector_asan
sharedir_asan/req_data
sharedir_asan/run.sh
sharedir_asan/set_ip_range
sharedir_asan/set_kvm_ip_range

VM/*.iso
VM/*.iso.1
VM/qemu.qcow2

sharedir/hypertrash.iso
sharedir/spec.msgp
sharedir_asan/hypertrash.iso
sharedir_asan/spec.msgp

config.ron
