(
    runner: QemuSnapshot((
        qemu_binary: "/home/kafl/kafl/QEMU-PT/x86_64-softmmu/qemu-system-x86_64",
        hda: "/home/kafl/VMs/ubuntu_18_04_4_asan.qcow2",
        sharedir: "/home/kafl/VMs/ubuntu_18_04_4_asan/ubuntu_qemu_sharedir/",
        presnapshot: "/home/kafl/VMs/ubuntu_18_04_4_asan/ubuntu_snapshot_asan/",
	//snapshot_path: DefaultPath,
	snapshot_path: Reuse("/tmp/struct_snapshot"),
        debug: true,
    )),
    fuzz: (
        spec_path: "../hypertrash_spec/hexaschrott_freebsd.msgp",
        workdir_path: "/tmp/fuzz_struct_test",
        bitmap_size: 65536,
        mem_limit: 1024,
        time_limit: (
            secs: 0,
            nanos: 800000000,
        ),
        target_binary: None,
        threads: 3,
        thread_id: 0,
        cpu_pin_start_at: 0,
    ),
)
